*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:#273c75;
}

.container{
    /* border:1px solid white; */
    width:50%;
    margin:170px auto 0;
    padding:5px 10px
    /* padding:5px 190px; */
}

.textarea textarea{
    width:330px;
    height:17vh;
    font-size:2rem;
    margin-bottom: 10px;
}

button{
    display:inline-block;
    padding:10px 25px;
    font-size:1.2rem;
    margin:5px 5px 5px 8px; 
}

.firstrow button{
    padding:10px 19px;
}
.secondrow button:last-child{
    padding:10px 20px;
}
.thirdrow button:last-child{
    padding:10px 20px;
}
.fourthrow button:last-child{
    padding:10px 20px;
}
.fifthrow button:nth-child(2){
    padding:10px 20px;
}
.fifthrow button:nth-child(3){
    padding:10px 28px;
}
.fifthrow button:last-child{
    padding:10px 20px;
}

#ac,#cut,#devide,#percentage,#into,#minus,#plus,#equal{
    color:rgb(232, 68, 68);
    
}